@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
}
a{
  text-decoration: none !important;
}

ul{
  margin-top: 0px;
  padding-inline-start: 20px;
}

ul > li{
  margin-bottom: 16px;
}

.MuiAccordion-root{
  animation-duration: 100ms;
}

